*{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
        margin: 0px;
        padding: 0px;
    
    }
    body {
        
        background-image: url('img/back.jpg');
        background-repeat: no-repeat;
        background-position: center;
    }
    .main{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content:center;
    }
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        background-color: rgba(2, 1, 1, 0.404);
        border-radius: 10px;
        width: 350px;
    }
    .propriete{
        display: flex;
        flex-direction: column;
    }
    .chambre{
        display: flex;
        flex-direction: column;
    }
    .rayon{
        display: flex;
        flex-direction: column; 
    }
    .rayo{
        width: 250px;
        height: 30px;
    }
    img {
        width: 50%;
        height: 120px;
    }
    input{
        background-color: rgb(189, 182, 182);
    width: 250px;
    height: 30px;
    border:0px;
    border-radius:5px;
    }
    select{
        background-color: rgb(189, 182, 182);
        width: 250px;
        height: 30px;
        border-radius:5px;
    } 
    label{
        color: white;
        font-size: 20px;
    }
    option{
        background-color: white;
    }
    .prix{
       display: flex;
       flex-direction: column;
    }

    .check{
        display: flex;
        flex-direction: column;
    }
    p{
        color: white;
    }
    .botton{
        width: 130px;
        height: 30px;
        background-color: #EF824C;
        font-weight: bold;
        color: white;
        border-radius: 5%;
    }
    .vend{
        width: 30px;
        height: 15px;
    }
    @media screen and (min-width:600px) {
        .main{
            align-items: center;
            justify-content: center;
        }
        img {
            width: 200px;
            height: 120px;
        }
        form{
            display: flex;
            flex-direction:row;
            flex-wrap: wrap;
            gap: 40px;
            width: 90%;
            height:max-content;
            padding:20px 30px;
        }
        .propriete{
            display: flex;
        }
        .chambre{
            display: flex;
            flex-direction: column;
        }
        .rayon{
            display: flex;
            flex-direction: column; 
        }
        input{
            width: 300px;
            }
            select{
                width: 300px;
            } 
            .check{
                flex-direction: row;
                gap: 30px;
            }
    }